.results {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.results__image {
    display: block;
    padding: 0 2rem;
}

.results__heading {
    margin: 2rem 0;
    padding: 0 2rem;
    font-size: 1.5rem;
}

@media (max-width: 651px)  { 
    .results {
        flex-direction: column;
    }
}