.results {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.results-image {
    display: block;
    padding: 0 2rem;
}

.results-heading {
    margin: 2rem 0;
    padding: 0 2rem;
    font-size: 1.5rem;
}