/** 
 * Importing the Google font Lato
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #f1f1f1; 
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
}

/** 
 * Header styling
 */ 
.header {
  margin: 4rem 0;
}

.heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.5rem;
}

.button {
  background-color: #ffcd16;
  padding: 1rem 2rem;
  margin: 2rem auto;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: none; 
  font-size: 1.5rem;
  border: 0;
  display: none;
}

.button.active {
  display: block;
}

@media (max-width: 651px)  { 
  body, html {
    font-size: 85%;
  }
}